[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/everitoken/chainbase.git
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/everitoken/appbase.git
        ignore = dirty
[submodule "programs/snapshot"]
	path = programs/snapshot
	url = https://github.com/everitoken/genesis.git
[submodule "libraries/rocksdb"]
	path = libraries/rocksdb
	url = https://github.com/everitoken/rocksdb.git
	branch = 5.13.fb
[submodule "libraries/safeint"]
	path = libraries/safeint
	url = https://github.com/dcleblanc/SafeInt.git
