[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/jmzkChain/chainbase.git
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/jmzkChain/appbase.git
        ignore = dirty
[submodule "libraries/rocksdb"]
	path = libraries/rocksdb
	url = https://github.com/facebook/rocksdb.git
	branch = 5.15.fb
[submodule "libraries/rapidjson"]
	path = libraries/rapidjson
	url = https://github.com/jmzkChain/rapidjson.git
[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt.git
