[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/everitoken/chainbase.git
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/everitoken/appbase.git
        ignore = dirty
[submodule "programs/snapshot"]
	path = programs/snapshot
	url = https://github.com/everitoken/genesis.git
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/everitoken/berkeley-softfloat-3
[submodule "libraries/rocksdb"]
	path = libraries/rocksdb
	url = https://github.com/facebook/rocksdb.git
	branch = 5.11.fb
