*.a
*.sw*
*.dylib
*.so
*.ll
*.bc
*.wast
*.wast.hpp
*.wasm
*.s
*.dot
*.abi.hpp
\#*
\.#*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
compile_commands.json
moc_*
*.moc

genesis.json

libraries/utilities/git_revision.cpp

doxygen

*.pyc
*.pyo

build-debug/*
build-release/*

tn_data_*
.vscode
.DS_Store

.vscode/
.idea/
build-*/
cmake-build-*/
diff/

bind/pyevt/build
bind/pyevt/dist
bind/pyevt/pyevt.egg-info

sdks/pysdk/build
sdks/pysdk/dist
sdks/pysdk/pyevtsdk.egg-info

loadtest/trafficgen/build
loadtest/trafficgen/dist
loadtest/trafficgen/trafficgen.egg-info
