{
    "producer_number": 5,
    "producers_config": 
     {
        "producers": [{
            "producer_name": "evt",
            "block_signing_key": "EVT7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "evt1",
            "block_signing_key": "EVT7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "evt2",
            "block_signing_key": "EVT7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "evt3",
            "block_signing_key": "EVT7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "evt4",
            "block_signing_key": "EVT7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        }]
    },                  
    "nodes_number": 10,                      
    "evtd_port_http": 8888,                 
    "evtd_port_p2p": 9876,                 
    "evtd_dir": "/home/laighno/evtd_data",  
    "use_tmpfs": false,                     
    "tmpfs_size": 1024,                     
    "free_dir": false                      
}