{
    "producer_number": 5,
    "producers_config": 
     {
        "producers": [{
            "producer_name": "jmzk",
            "block_signing_key": "jmzk7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "jmzk1",
            "block_signing_key": "jmzk7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "jmzk2",
            "block_signing_key": "jmzk7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "jmzk3",
            "block_signing_key": "jmzk7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "jmzk4",
            "block_signing_key": "jmzk7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        }]
    },                  
    "nodes_number": 10,                      
    "jmzkd_port_http": 8888,                 
    "jmzkd_port_p2p": 9876,                 
    "jmzkd_dir": "/home/laighno/jmzkd_data",  
    "use_tmpfs": false,                     
    "tmpfs_size": 1024,                     
    "free_dir": false                      
}