{
    "producer_number": 5,                   
    "nodes_number": 5,                      
    "evtd_port_http": 8888,                 
    "evtd_port_p2p": 9876,                 
    "evtd_dir": "/home/laighno/evtd_data",  
    "use_tmpfs": false,                     
    "tmpfs_size": 1024,                     
    "free_dir": false                       
}